#wrapper {
    display:grid;
    width:100%;
    grid-template-rows: 100vw;
    grid-template-columns: 100vh;
    grid-template-areas: 
    'hd';
}

@media screen and (max-width: 767px) {
    
}

body {
    margin:0;
}

.menu{
    height: 100vh;
    position: fixed;
    background-color: gray;
    top: 0;
    left: -90vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
    width:30px;
}

.menu-button{
    cursor: pointer;
    display: inline;
}

.menu-button i.material-icons{
    font-size: 2.5rem;
}

.show{
    left: 0;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}